@import "../../../global/globalCssVariables";

.ingredient-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 20px;

  .ingredient-input {
    // width: 120px;
  }
}
