@import "../../../global/globalCssVariables";
::-webkit-scrollbar-thumb {
  background: $primary-theme-color;
}
.steps-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1px;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-right: 20px;
  .input-and-cancel {
    display: flex;
    flex-direction: row;
  }
}
