@import "../../../global/globalCssVariables";

.nodeHeader {
  display: flex;
  gap: 10px;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  padding-left: 20px;
  justify-content: left;
  align-items: center;
  border-bottom: $standard-border;
  overflow: hidden;
  width: 100%;
  background-color: $primary-background-color;
  z-index: 3;

  .nodeHeader-title {
    font-weight: 600;
    min-width: fit-content;
  }

  .nodeHeader-buttonBar {
    gap: 10px;
    display: flex;
    height: 50px;
    width: fit-content;
    position: relative;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;

    .select {
      width: 80px;
      margin-top: -10px;
      cursor: pointer;
    }
  }

  .profile-pic-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: all 0.3s ease;

    .profile-pic-wrapper {
      width: 2rem;
      height: 2rem;
      margin-right: 5px;
      position: relative;
      display: inline-block;

      .tooltip {
        visibility: hidden;
        width: max-content;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        top: calc(100% + 5px);
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        font-size: xx-small;
      }

      &:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }

      &:first-child:hover .tooltip {
        content: "Author";
      }

      &:not(:first-child):hover .tooltip {
        content: "Collaborator";
      }
    }
  }
}
