@import "../../../global/globalCssVariables";

.share-add-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.share-list-item-container {
  overflow: auto;
  max-height: 10rem;
  display: flex;
  flex-direction: column;

  .share-list-item-wrapper {
    flex-direction: row;
    display: flex;

    .share-list-item {
      flex: 1; /* Share remaining space */
      align-items: center;
      font-weight: bold;
      padding: 10px; /* Padding for share-list-item */
      border-radius: 8px; /* Rounded border for each wrapper */
      margin-bottom: 8px; /* Spacing between wrappers */
      background-color: $secondary-background-color;
    }
  }
}

.share-error {
  color: #dc0a0a;
}
