@import "../../global/globalCssVariables";

.header {
  width: 100vw;
  font-family: "Roboto";
  height: $header-height;
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-family: $header-font;
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
  border-bottom: $standard-border;
  position: fixed;

  .left-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .middle-bar {
    width: 50%; /* Set the width of the middle-bar to 50% of the header's width */
    display: flex;
    margin-left: 50px;
    align-items: center; /* Center its children vertically */

    .search-button {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      font-weight: normal;
      background-color: $secondary-background-color;
      transition: 0.3s;
      height: 30px;

      &:hover {
        background-color: darken($secondary-background-color, 10);
      }
      .placeholder {
        color: gray;
      }
    }
  }

  .right-bar {
    width: max;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;

    .profile-pic-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Adjust this as needed */
    }

    /* Circular profile picture wrapper */
    .profile-pic-wrapper {
      position: relative;
      width: 2.3rem; /* Adjust the size of the circle */
      height: 2.3rem; /* Adjust the size of the circle */
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.3s ease; /* Example animation transition */
    }

    /* Profile picture */
    .profile-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: filter 0.3s ease; /* Example transition for hover effect */
    }

    /* Overlay on hover */
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(211, 211, 211, 0.5); /* Light gray overlay color */
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 5px; /* Adjust the space for the tag */
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    /* Show tag on hover */
    .profile-pic-wrapper:hover .overlay {
      opacity: 1;
    }

    .user-session-name {
      margin-right: 20px;
      font-size: large;
      font-weight: 500;
    }
  }
}

.header-linking {
  width: 100vw;
  font-family: "Roboto";
  height: $header-height;
  background-color: $link-background;
  color: $link-dark;
  font-family: $header-font;
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
  border-bottom: $standard-border;
  position: fixed;
  justify-content: space-between;

  .left-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .right-bar {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.name {
  padding: 10px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
