@import "../../../../global/globalCssVariables";

#textMenu {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 30px;
  font-weight: 500;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background-color: $primary-background-color;
  z-index: 3;
  padding-left: 20px;

  .textEditorButton,
  .save-button,
  .align-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 70%;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: "Inter", sans-serif;
    padding: 3px 15px;
    border-radius: 5px;
    gap: 5px;
    transition: 0.3s;
    cursor: pointer;
    margin: 0;
    background-color: rgb(241, 241, 241);
    &:hover {
      background-color: darken($secondary-background-color, 10);
    }
  }

  .align-button {
    padding: 7px;
  }

  .save-button {
    &:hover {
      background-color: rgb(186, 231, 255);
    }
  }

  .activeTextEditorButton {
    font-weight: 800;
    background-color: rgba(44, 42, 42, 0.757);
    color: white;
  }
}
