@import "../../../../global/globalCssVariables";

.editor-container {
  .editorContent {
    padding-left: 20px;
    padding-top: 10px;
  }

  .ProseMirror {
    a {
      color: #3366bb;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        color: #093075;
      }
    }
  }
}
