@import "../../../global/globalCssVariables";

.modal-font {
  font-family: "Inter", sans-serif;
}

.filter-sort-container {
  margin: 2px 5px 10px 5px;
}

.menu-button {
  margin: 0px 5px;
}

.search-results-container {
  max-height: 325px;
  overflow-y: auto;

  .node-title {
    font-size: 30px;
    margin-left: 15px;
  }

  .node-type-date-container {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .node-type {
    font-size: 15px;
    color: lighten($primary-text-color, 60%);
  }

  .node-date {
    font-size: 15px;
    color: lighten($primary-text-color, 60%);
  }
}

.search-result {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 2px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #e1e1e1;
  }
}

/* Hover effect for search result item */
