@import "../../../global/globalCssVariables";

$input-margin: 10px;

.results {
  padding: 12px;
  padding-top: 0px;
  overflow-y: auto;
  margin-top: 12px;
  max-height: 70vh;

  .filters {
    .menu-list {
      z-index: 1;
    }
    .slider-thumb {
      z-index: auto;
    }
    .time-section,
    .serving-section {
      display: flex;
      flex-direction: column;
      padding: 5px;
      .serving-slider {
      }
    }
    .filter-button,
    .sort-button {
      background-color: white;
      border-color: $secondary-background-color;
      border-width: 2px;
      font-weight: normal;
      border-radius: 20px;
      margin-right: 12px;
    }
  }
}
