@import "../../global/globalCssVariables";

.loading-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

$primary-color: #ff7f50; /* Orange color */
$background-color: #f8f8f8;
$enlargement-factor: 120%; /* Enlargement factor */

/* Login wrapper */
.login-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Montserrat";
  font-weight: 100;

  .login-box {
    width: 30%; /* Set width to 40% of the screen */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-top: 4px solid #a2d2ff;

    .login-header {
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-size: x-large;
      font-weight: bold; /* Bold title */
    }

    .login-form {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      transition: 0.3s;

      input {
        width: 100%;
        margin-bottom: 8px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 1rem;

        &:focus {
          outline: none; /* Remove default focus outline */
          border: 3px solid #97bde2; /* Highlight border color */
        }
      }

      .login-error-message {
        color: red;
        margin-bottom: 10px;
        font-size: 1rem; /* Enlarged by 20% */
        font-family: "Montserrat";
      }

      .login-no-account {
        text-align: right; /* Align to the right */
        font-size: 0.875rem; /* Small text size */
        margin-top: 10px; /* Adjust margin as needed */
        // font-family: "Montserrat";

        .login-to-register-link {
          color: #0645ad;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      button {
        width: 100%;
        margin-top: 15px;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #bde0fe;
        color: #fff;
        cursor: pointer;
        font-family: "Montserrat";
        transition: background-color 0.3s;

        font-size: 1.2rem; /* Enlarged by 20% */

        &:hover {
          background-color: darken(#a2d2ff, 10%);
        }
      }
    }
  }
}
